<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>
<center>
	<br>
	<br>
	<br>
	<br>
<body bgcolor="DodgerBlue">
	<center><img src="https://drive.google.com/uc?export=view&id=1Poa_CQMUfaef3iAA9OdPnvj9Q8qN15pE"></center>
	<h3><center><p style="font-size:48px">&#128512;&#128512;</p><center></h3>
		<h2 style="border: 2px solid red;">
			<table border="0" style="center">
 <div class="login">
	<h1>Prediksi Nilai IPM</h1>
<font face="monotype corsiva">
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<p> Angka Melek Huruf<input type="text" name="Angka Melek Huruf Penduduk Umur 15-24 Tahun Menurut Provinsi" placeholder="Angka" required="required" />
        <p> Angka Partisipasi Sekolah<input type="text" name="Angka Partisipasi Sekolah ( A P S )" placeholder="Angka" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Cek Nilai IPM</button></p>
    </form>
   <br>
   <br>
   {{ prediction_text }}
</center>
 </div>

</body>
</html>
